In [4]:
import cosimfunc
from cosimfunc import cosim

In [5]:
import importlib 
importlib.reload(cosimfunc)

In [6]:
import numpy as np
import pandas as pd
import ctypes
import math
import pprint

In [7]:
doc1="The Great Wall of China is visible from space, but only under certain conditions."
doc2="Honey never spoils"
doc3="Octopuses have three hearts: two pump blood to the gills, while the third pumps it to the rest of the body."

q1="Which structure is visible from space"

In [8]:
def clean_string(input_string):
    # Split the input string into words at spaces
    words = input_string.split()
    
    # Clean each word by removing non-letter characters and converting to lowercase
    cleaned_word = [''.join(char.lower() for char in word if char.isalpha()) for word in words]
    
    return cleaned_word

In [15]:
sent1 = clean_string(doc1)
sent2 = clean_string(doc2)
sent3 = clean_string(doc3)
sent_q=clean_string(q1)

sent_q

['which', 'structure', 'is', 'visible', 'from', 'space']

In [10]:
#Making a set from the words
corpus = set(sent1).union(set(sent2).union(set(sent3)).union(set(sent_q)))
print(corpus)

#finding size of corpus
n = len(corpus)
n

{'three', 'hearts', 'pump', 'to', 'great', 'conditions', 'never', 'is', 'of', 'blood', 'wall', 'under', 'china', 'honey', 'third', 'but', 'pumps', 'certain', 'octopuses', 'while', 'space', 'from', 'have', 'spoils', 'visible', 'two', 'which', 'it', 'gills', 'only', 'structure', 'body', 'the', 'rest'}

34

In [16]:
corpus = set(sent1).union(set(sent2).union(set(sent3).union(set(sent_q))))
print(corpus)

{'three', 'hearts', 'pump', 'to', 'great', 'conditions', 'never', 'is', 'of', 'blood', 'wall', 'under', 'china', 'honey', 'third', 'but', 'pumps', 'certain', 'octopuses', 'while', 'space', 'from', 'have', 'spoils', 'visible', 'two', 'which', 'it', 'gills', 'only', 'structure', 'body', 'the', 'rest'}

In [18]:
# Create count vector from a sentence, telling the frequency of word appearance
def cvect(sent):
    
    # creates the dict with the corpus as keys
    mydict = dict.fromkeys(corpus, 0) 
    
    # count the occurance of each word
    for word in sent:
        mydict[word] += 1
    return mydict

In [27]:
dict1=cvect(sent1)
dict2=cvect(sent2)
dict3=cvect(sent3)
dict_q=cvect(sent_q)

In [20]:
# collect the dictionaires in a data frame
dfc = pd.DataFrame([dict1, dict2, dict3, dict_q])
dfc

,three,hearts,pump,to,great,conditions,never,is,of,blood,...,visible,two,which,it,gills,only,structure,body,the,rest
0,0,0,0,0,1,1,0,1,1,0,...,1,0,0,0,0,1,0,0,1,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,2,0,0,0,0,1,1,...,0,1,0,1,1,0,0,1,4,1
3,0,0,0,0,0,0,0,1,0,0,...,1,0,1,0,0,0,1,0,0,0

In [21]:
#NOTE
#Make function that does all of this, for each loop from an array of dictionaries
#
#NOTE
# Store the binary values into array
arc = dfc.to_numpy()
#comparing question with sentence 1, 2 and 3
cosim(arc[3], arc[0])
cosim(arc[3], arc[1])
cosim(arc[3], arc[2])

Cosine similarity:  0.4364357804719848
Cosine similarity:  0.0
Cosine similarity:  0.0

0.0

In [22]:
# Recalculate the word appearance as a proportion of all words in the document
def computeTF(mydict, n):
    # New empty dict for the results of recalculation
    tfDict = {}
    
    for word, wcount in mydict.items():
        # calculate the proportion
        tfDict[word] = wcount/float(n) 
    return(tfDict)

In [23]:
tf1=computeTF(dict1, len(sent1))
tf2=computeTF(dict2, len(sent2))
tf3=computeTF(dict3, len(sent3))
tf_q=computeTF(dict_q, len(sent_q))

In [24]:
tff=pd.DataFrame([tf1, tf2, tf3, tf_q])

In [25]:
art = tff.to_numpy()

In [42]:
cosim(art[3], art[0])
cosim(art[3], art[1])
cosim(art[3], art[2])

doc1, q1

Cosine similarity:  0.4364357804719847
Cosine similarity:  0.0
Cosine similarity:  0.0

('The Great Wall of China is visible from space, but only under certain conditions.',
 'Which structure is visible from space')

In [51]:
###Works but original text needs to be printed
def findClosestMatch(data, question):
    dataL = len(data)
    best_match = None
    best_score = -1  # Initialize with a value less than 0

    for d in data:
        score = cosim(d, question)
        if score < 1 and score > best_score:
            best_score = score
            best_match = d

    if best_match is not None:
        print(f"The closest match to 1 is: {best_match}")
        print(best_score)
    else:
        print("No match found that is less than 1")

In [52]:
findClosestMatch(art, art[3])

Cosine similarity:  0.4364357804719847
Cosine similarity:  0.0
Cosine similarity:  0.0
Cosine similarity:  1.0000000000000002
The closest match to 1 is: [0.         0.         0.         0.         0.07142857 0.07142857
 0.         0.07142857 0.07142857 0.         0.07142857 0.07142857
 0.07142857 0.         0.         0.07142857 0.         0.07142857
 0.         0.         0.07142857 0.07142857 0.         0.
 0.07142857 0.         0.         0.         0.         0.07142857
 0.         0.         0.07142857 0.        ]
0.4364357804719847

In [28]:
def computeIDF(allDocs):
    # number of documents
    N = len(allDocs) 

    # create empty dict, put the words in as keys and 0 as value
    idf = {}
    idf = dict.fromkeys(allDocs[0].keys(), 0)    
    
    # check all docs 
    for doc in allDocs:
        # check all words 
        for word, wcount in doc.items():
            # count the doc if the word appears in it
            if wcount > 0:
                idf[word] += 1
    
    # make correction in the counting to avoid eventual division by zero: idf(t) = log10(N/(df + 1))
    for word, wcount in idf.items():
        idf[word] = math.log10(N/(float(wcount)) + 1)
        
    return(idf)

In [29]:
idfs = computeIDF([dict1, dict2, dict3, dict_q])

In [30]:
pprint.pprint(idfs)

{'blood': 0.6989700043360189,
 'body': 0.6989700043360189,
 'but': 0.6989700043360189,
 'certain': 0.6989700043360189,
 'china': 0.6989700043360189,
 'conditions': 0.6989700043360189,
 'from': 0.47712125471966244,
 'gills': 0.6989700043360189,
 'great': 0.6989700043360189,
 'have': 0.6989700043360189,
 'hearts': 0.6989700043360189,
 'honey': 0.6989700043360189,
 'is': 0.47712125471966244,
 'it': 0.6989700043360189,
 'never': 0.6989700043360189,
 'octopuses': 0.6989700043360189,
 'of': 0.47712125471966244,
 'only': 0.6989700043360189,
 'pump': 0.6989700043360189,
 'pumps': 0.6989700043360189,
 'rest': 0.6989700043360189,
 'space': 0.47712125471966244,
 'spoils': 0.6989700043360189,
 'structure': 0.6989700043360189,
 'the': 0.47712125471966244,
 'third': 0.6989700043360189,
 'three': 0.6989700043360189,
 'to': 0.6989700043360189,
 'two': 0.6989700043360189,
 'under': 0.6989700043360189,
 'visible': 0.47712125471966244,
 'wall': 0.6989700043360189,
 'which': 0.6989700043360189,
 'while': 0.6989700043360189}

In [31]:
# tf-idf(t, d) = tf(t, d) * idf(t, D)

def computeTFIDF(tf, idfs):
    tfidf = {}
    for word, wcount in tf.items():
        tfidf[word] = wcount*idfs[word]
    return(tfidf)

In [32]:
#running our two sentences through the IDF:
idf1 = computeTFIDF(tf1, idfs)
idf2 = computeTFIDF(tf2, idfs)
idf3 = computeTFIDF(tf3, idfs)
idf_q = computeTFIDF(tf_q, idfs)

In [33]:
idf= pd.DataFrame([idf1, idf2, idf3, idf_q])
idf

,three,hearts,pump,to,great,conditions,never,is,of,blood,...,visible,two,which,it,gills,only,structure,body,the,rest
0,0.000000,0.000000,0.000000,0.000000,0.049926,0.049926,0.00000,0.03408,0.03408,0.000000,...,0.03408,0.000000,0.000000,0.000000,0.000000,0.049926,0.000000,0.000000,0.03408,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.23299,0.00000,0.00000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
2,0.033284,0.033284,0.033284,0.066569,0.000000,0.000000,0.00000,0.00000,0.02272,0.033284,...,0.00000,0.033284,0.000000,0.033284,0.033284,0.000000,0.000000,0.033284,0.09088,0.033284
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.07952,0.00000,0.000000,...,0.07952,0.000000,0.116495,0.000000,0.000000,0.000000,0.116495,0.000000,0.00000,0.000000

In [34]:
arx = idf.to_numpy()

In [35]:
cosim(arx[0], arx[1])

Cosine similarity:  0.0

0.0

In [37]:
cosim(arx[0], arx[2])

Cosine similarity:  0.13927000718270718

0.13927000718270718

In [38]:
cosim(arx[0], arx[3])

Cosine similarity:  0.28858071046544725

0.28858071046544725

In [39]:
def tokenize(text):
    lang = detect(text)
    if lang == 'en': 
        model = 'en_core_web_md'
        from spacy.lang.en.stop_words import STOP_WORDS
    elif lang == 'da': 
        model = 'da_core_news_md'
        from spacy.lang.da.stop_words import STOP_WORDS
    else:
         print("Wrong language")
        
    mysent = []
    nlp = spacy.load(model)
    doc = nlp(text)
    
    for token in doc:
        if not (token.is_stop or token.is_punct or token.is_space):
            mysent.append(token.text)
    return mysent

array([0.        , 0.        , 0.        , 0.        , 0.04992643,
       0.04992643, 0.        , 0.03408009, 0.03408009, 0.        ,
       0.04992643, 0.04992643, 0.04992643, 0.        , 0.        ,
       0.04992643, 0.        , 0.04992643, 0.        , 0.        ,
       0.03408009, 0.03408009, 0.        , 0.        , 0.03408009,
       0.        , 0.        , 0.        , 0.        , 0.04992643,
       0.        , 0.        , 0.03408009, 0.        ])